@import
url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900');

h1 {
    color: white; 
    text-align: center; 
    font-size: 50px;
    font-family: "Merriweather";
    font-weight: 700;
}

#canvas1 {
    width: 100%;
    height: auto;
}